.auth_gradient {
  background: linear-gradient(
    180deg,
    var(--color-primary-500) 0%,
    var(--color-primary-900) 84.79%,
    var(--color-primary-950) 100%
  );
}

.main_shadow {
  box-shadow: 0px 18px 32px 0px #d0d2da26;
}
.page_shadow {
  box-shadow: 0px 18px 32px 0px #d0d2da33;
}
