@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.auth_gradient {
  background: linear-gradient(180deg, var(--color-primary-500) 0%, var(--color-primary-900) 84.79%, var(--color-primary-950) 100%);
}

.main_shadow {
  box-shadow: 0px 18px 32px 0px rgba(208, 210, 218, 0.1490196078);
}

.sidebar {
  box-shadow: 0px 18px 32px 0px rgba(208, 210, 218, 0.1490196078);
}
.sidebar .nav li a {
  color: var(--color-grey-200);
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  border: 1px solid transparent;
}
.sidebar .nav li a.active, .sidebar .nav li a:hover {
  background-color: var(--color-primary-500);
  color: #fff;
}
.sidebar .nav li a.active .icon svg path, .sidebar .nav li a:hover .icon svg path {
  stroke: #fff;
}

@media (max-width: 767.5px) {
  .mobile_sidebar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    inset: 0;
    z-index: 1000;
  }
  .mobile_sidebar .sidebar {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  .mobile_sidebar.open {
    opacity: 1;
    visibility: visible;
    background-color: rgba(12, 12, 12, 0.1960784314);
  }
  .mobile_sidebar.open .sidebar {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 639px) {
  body:dir(rtl) .mobile_sidebar .sidebar {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  body:dir(rtl) .mobile_sidebar.open .sidebar {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media (max-width: 639px) {
  body:dir(ltr) .mobile_sidebar .sidebar {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  body:dir(ltr) .mobile_sidebar.open .sidebar {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.nav_footer a:hover,
.nav_footer active {
  background-color: var(--color-primary-500);
  color: #fff;
}
.nav_footer a:hover .icon svg path,
.nav_footer active .icon svg path {
  stroke: #fff;
}

.p-inputotp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 765px) {
  .p-inputotp {
    gap: 10px;
  }
}
.p-inputotp-input {
  width: 55px !important;
  height: 55px !important;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border: 1px solid var(--color-grey-100) !important;
}
@media (max-width: 765px) {
  .p-inputotp-input {
    width: 45px !important;
    height: 45px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
.p-inputotp .p-inputtext:enabled:focus {
  box-shadow: 0 0 1px var(--color-gray-500);
  border: 1px solid var(--color-gray-500) !important;
}

.react-tooltip {
  background-color: white !important;
  border: 1px solid var(--color-grey-300) !important;
  color: var(--color-grey-300) !important;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  padding: 4px 8px !important;
  font-family: Cairo, sans-serif !important;
  font-size: 12px !important;
}

.react-tooltip-arrow {
  display: none !important;
}

.p-dialog-content {
  padding: 10px 24px 30px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
@media (max-width: 600px) {
  .p-dialog-content {
    padding: 10px 16px 16px;
  }
}

.p-dialog-header {
  padding: 10px;
}
.p-dialog-header svg {
  color: var(--color-grey-300);
  outline: none !important;
}

.modal_hide_header .p-dialog-header {
  padding: 5px 10px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
@media (max-width: 600px) {
  .modal_hide_header .p-dialog-header {
    padding: 7px 10px;
  }
}
.modal_hide_header .p-dialog-header-icons button {
  display: none;
}

.p-dialog-mask {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.p-dialog-header-icons button {
  outline: none;
  box-shadow: none;
}
.p-dialog-header-icons button:hover {
  background: transparent !important;
}

.no_padding .p-dialog-content {
  padding: 0 !important;
}

.hide_header .p-dialog-header {
  padding: 12px !important;
}
.hide_header .p-dialog-header-icons {
  display: none;
}

.clanedar_modal.p-dialog {
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  -o-border-radius: 16px !important;
}
.clanedar_modal .p-dialog-content {
  border-bottom-right-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
}
.clanedar_modal .p-dialog-header {
  border-top-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
}

.p-dropdown-label {
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
}

.p-placeholder {
  color: var(--color-grey-300);
}

.p-dropdown {
  border: 1px solid var(--color-grey-100) !important;
  height: 45px;
}
.p-dropdown:not(.p-disabled).p-focus {
  border: 1px solid var(--color-grey-100) !important;
  box-shadow: none !important;
}
.p-dropdown .p-dropdown-trigger svg path {
  fill: var(--color-grey-300);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:focus {
  outline: none !important;
  box-shadow: none !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus, .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: var(--color-primary-50) !important;
  color: var(--color-primary-500) !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  background-color: var(--color-primary-50);
  color: var(--color-primary-500) !important;
}

.p-checkbox, .p-checkbox-input,
.p-checkbox .p-checkbox-box {
  width: 20px !important;
  height: 20px !important;
}
.p-checkbox .p-checkbox-box {
  border: 1px solid var(--color-grey-100);
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
.p-checkbox.p-invalid .p-checkbox-box {
  border: 1px solid var(--color-error-800);
}
.p-checkbox.p-highlight .p-checkbox-box {
  border: 1px solid var(--color-grey-100);
  background-color: var(--color-primary-500);
}

.p-datatable .p-datatable-thead tr th {
  background-color: var(--color-primary-50) !important;
  color: var(--color-grey-300);
  font-family: var(--font-sans) !important;
  font-weight: 400;
  font-size: 14px;
  padding: 12px;
  text-wrap: nowrap;
}
.p-datatable .p-datatable-thead tr th:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.p-datatable .p-datatable-thead tr th:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.p-datatable .p-datatable-tbody tr {
  color: var(--color-grey-300) !important;
  font-family: var(--font-sans) !important;
  font-weight: 400;
  font-size: 14px;
}
.p-datatable .p-datatable-tbody tr td {
  text-align: start !important;
  text-wrap: nowrap !important;
  padding: 20px !important;
}
.p-datatable .p-datatable-tbody tr:nth-of-type(even) {
  background-color: var(--color-neutral-50);
}/*# sourceMappingURL=style.css.map */